body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  background: #eaf0f1;
}
#container {
  margin: 2em;
  background-color: #74b9ff;
  height: 70vh;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px;
  position: relative;
}
#start {
  padding-top: 20px;
  font-size: 1.5em;
  font-weight: bolder;
  margin: 20% auto;
  width: 25;
  height: 10%;
  background-color: #eaf0f1;
  text-align: center;
  cursor: pointer;

  top: 30%;
  color: rgb(206, 11, 11);
}
#start:hover {
  border: 2px solid lightseagreen;
  color: lightseagreen;
}

#qImg {
  width: 50%;
  height: 60%;
  position: absolute;
  left: 60%;
  top: 15%;
}
#qImg img {
  width: 50%;
  height: 60%;
  border-top-left-radius: 5px;
}

#question {
  width: 80%;
  height: 13%;
  position: absolute;

  top: 2%;
  font-size: 15px;
}
#question p {
  margin: 0;
  padding: 15px;
  font-size: 1.25em;
}

#choices {
  width: 40%;
  height: 8%;
  position: absolute;
  left: 5%;
  top: 12vh;
}
.choice {
  width: 80%;

  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  padding: 5%;
  margin-top: 5px;
}
.choice:hover {
  border: 2px solid grey;
  font-weight: bold;
}

#timer {
  position: absolute;
  height: 100px;
  width: 200px;
  bottom: 0px;
  text-align: center;
}
#counter {
  font-size: 2em;
}
#btimeGauge {
  width: 9.4em;
  height: 0.5em;
  border-radius: 10px;
  background-color: lightgray;
  margin: 2px;
}
#timeGauge {
  height: 0.7em;
  border-radius: 10px;
  background-color: mediumseagreen;
  margin-top: -10px;
  margin-left: 2px;
}
#progress {
  width: 25em;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  text-align: right;
}
.prog {
  width: 1em;
  height: 1em;
  border: 1px solid #000;
  display: inline-block;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}
#scoreContainer {
  margin: 6px;
  background-color: white;
  opacity: 0.9;
  height: 70%;
  width: 97%;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px;
  position: relative;
  display: none;
}
#scoreContainer img {
  position: absolute;
  margin: 10% auto;
  left: 44%;
  height: 15%;
}
#scoreContainer p {
  position: absolute;
  display: block;
  width: 59px;
  height: 59px;
  margin: 30% auto;
  left: 45%;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
#total {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin: 10% auto;
}

a {
  position: absolute;
  margin-top: 40vh;
  padding: 15px 30px;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #000;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}
a span {
  position: absolute;
  display: block;
  background: #03a9f4;
}
a span:nth-child(1) {
  top: 0;
  left: 0;
  transform: translateY(0);
  width: 2px;
  height: 100%;
}
a:hover span:nth-child(1) {
  transition: 0.5s;
  transform: translateY(-100%);
}
a span:nth-child(4) {
  top: 0;
  right: 0;
  transform: translateY(0);
  width: 2px;
  height: 100%;
}
a:hover span:nth-child(4) {
  transition: 0.5s;
  transform: translateY(100%);
}
a span:nth-child(2) {
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 100%;
  height: 2px;
}
a:hover span:nth-child(2) {
  transform: translateX(100%);
  transition: 0.75s;
  transition-delay: 0.25s;
}
a span:nth-child(5) {
  bottom: 0;
  left: 0;
  transform: translateX(100%);
  width: 100%;
  height: 2px;
}
a:hover span:nth-child(5) {
  transform: translateX(-100%);
  transition: 0.75s;
  transition-delay: 0.25s;
}
a span:nth-child(3) {
  top: 0;
  right: 0;
  transform: translateY(-100%);
  width: 2px;
  height: 100%;
}
a:hover span:nth-child(3) {
  transition: 0.5s;
  transition-delay: 0.5s;
  transform: translateY(0);
}
a span:nth-child(6) {
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 2px;
  height: 100%;
}
a:hover span:nth-child(6) {
  transition: 0.5s;
  transition-delay: 0.5s;
  transform: translateY(0);
}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  #container,
  #start,
  #question,
  #choices {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  #qImg {
    display: none;
  }
}
